In [1]:
ls

 Volume in drive C is OS
 Volume Serial Number is A440-B44F

 Directory of C:\Users\ASUS\Desktop\CORE\Untitled Folder

26-06-2025  16:09    <DIR>          .
25-06-2025  15:39    <DIR>          ..
26-06-2025  14:02    <DIR>          .idea
25-06-2025  15:39    <DIR>          .ipynb_checkpoints
25-06-2025  15:39           938,020 Bengaluru_House_Data.csv
26-06-2025  16:09           267,319 cleaned_data.csv
26-06-2025  14:46               926 main.py
25-06-2025  17:30            13,789 RidgeModel.pkl
26-06-2025  14:37    <DIR>          templates
26-06-2025  16:09            97,680 Untitled.ipynb
               5 File(s)      1,317,734 bytes
               5 Dir(s)   6,472,695,808 bytes free

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df=pd.read_csv('Bengaluru_House_Data.csv')

In [5]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [6]:
df.shape

(13320, 9)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [8]:
 df.describe

<bound method NDFrame.describe of                   area_type   availability                  location  \
0      Super built-up  Area         19-Dec  Electronic City Phase II
1                Plot  Area  Ready To Move          Chikka Tirupathi
2            Built-up  Area  Ready To Move               Uttarahalli
3      Super built-up  Area  Ready To Move        Lingadheeranahalli
4      Super built-up  Area  Ready To Move                  Kothanur
...                     ...            ...                       ...
13315        Built-up  Area  Ready To Move                Whitefield
13316  Super built-up  Area  Ready To Move             Richards Town
13317        Built-up  Area  Ready To Move     Raja Rajeshwari Nagar
13318  Super built-up  Area         18-Jun           Padmanabhanagar
13319  Super built-up  Area  Ready To Move              Doddathoguru

            size  society total_sqft  bath  balcony   price
0          2 BHK  Coomee        1056   2.0      1.0   39.07
1      4 Bedroom  Theanmp       2600   5.0      3.0  120.00
2          3 BHK      NaN       1440   2.0      3.0   62.00
3          3 BHK  Soiewre       1521   3.0      1.0   95.00
4          2 BHK      NaN       1200   2.0      1.0   51.00
...          ...      ...        ...   ...      ...     ...
13315  5 Bedroom  ArsiaEx       3453   4.0      0.0  231.00
13316      4 BHK      NaN       3600   5.0      NaN  400.00
13317      2 BHK  Mahla T       1141   2.0      1.0   60.00
13318      4 BHK  SollyCl       4689   4.0      1.0  488.00
13319      1 BHK      NaN        550   1.0      1.0   17.00

[13320 rows x 9 columns]>

In [9]:
for column in df.columns:
    print(df[column].value_counts())
    print("*"*20)

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64
********************
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: availability, Length: 81, dtype: int64
********************
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64
********************
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64
********************
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: society, Length: 2688, dtype: int64
********************
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: total_sqft, Length: 2117, dtype: int64
********************
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64
********************
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64
********************
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: price, Length: 1994, dtype: int64
********************

In [10]:
df.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [11]:
df.drop(columns=['area_type','availability','society','balcony'],inplace=True)

In [12]:
df.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [14]:
df['location'].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [15]:


df = df.dropna(subset=['location'])

In [16]:
df.isna().sum()

location       0
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [17]:
df.shape

(13319, 5)

In [18]:
df['size'].value_counts()

2 BHK         5199
3 BHK         4309
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [19]:
df = df.dropna(subset=['size'])

In [20]:
df.shape

(13303, 5)

In [21]:
df['bath']=df['bath'].fillna(df['bath'].median())

In [22]:
df.info

<bound method DataFrame.info of                        location       size total_sqft  bath   price
0      Electronic City Phase II      2 BHK       1056   2.0   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2                   Uttarahalli      3 BHK       1440   2.0   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                      Kothanur      2 BHK       1200   2.0   51.00
...                         ...        ...        ...   ...     ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00
13316             Richards Town      4 BHK       3600   5.0  400.00
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00
13319              Doddathoguru      1 BHK        550   1.0   17.00

[13303 rows x 5 columns]>

In [23]:
df['bhk']=df['size'].str.split().str.get(0).astype(int)

In [24]:
df.head()

                   location       size total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13303 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13303 non-null  object
 1   size        13303 non-null  object
 2   total_sqft  13303 non-null  object
 3   bath        13303 non-null  float64
 4   price       13303 non-null  float64
 5   bhk         13303 non-null  int32
dtypes: float64(2), int32(1), object(3)
memory usage: 675.5+ KB

In [26]:
df[df.bhk>20]

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [27]:





df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [28]:
def convtRange(x):
    try:
        # Convert only if x is a string
        if isinstance(x, str):
            x = x.strip()

            # Handle ranges like '2100 - 2850'
            if '-' in x:
                nums = x.split('-')
                return (float(nums[0].strip()) + float(nums[1].strip())) / 2

            # Handle values with units like '1000Sq' or '34.46Sq. Meter'
            return float(x.split()[0])

        # If x is already a number
        return float(x)
    except:
        return None

In [29]:
df['total_sqft'] = df['total_sqft'].apply(convtRange)

In [30]:
df.head()

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

In [31]:
df['price_per_sqft']=df['price']*100000/df['total_sqft']

In [32]:
df['price_per_sqft']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: price_per_sqft, Length: 13303, dtype: float64

In [33]:
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13257.000000  13303.000000  13303.000000  13303.000000    1.325700e+04
mean    1558.809175      2.689619    112.584033      2.803728    7.912825e+03
std     1238.478935      1.339393    148.993820      1.295022    1.064976e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.271186e+03
50%     1275.000000      2.000000     72.000000      3.000000    5.438596e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.313318e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [34]:
data=df

In [35]:
data['location'].value_counts()

Whitefield           539
Sarjapur  Road       397
Electronic City      302
Kanakpura Road       273
Thanisandra          234
                    ...
Vidyapeeta             1
Maruthi Extension      1
Okalipura              1
Old Town               1
Abshot Layout          1
Name: location, Length: 1304, dtype: int64

In [36]:
data['location']=data['location'].apply(lambda x:x.strip())
location_counts=data['location'].value_counts()

In [37]:
location_counts

Whitefield                        540
Sarjapur  Road                    397
Electronic City                   304
Kanakpura Road                    273
Thanisandra                       237
                                 ...
Vasantapura main road               1
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
Abshot Layout                       1
Name: location, Length: 1293, dtype: int64

In [38]:
location_count_less_10=location_counts[location_counts<=10]
location_count_less_10

Dairy Circle                      10
Nagappa Reddy Layout              10
Basapura                          10
1st Block Koramangala             10
Sector 1 HSR Layout               10
                                  ..
Vasantapura main road              1
Bapuji Layout                      1
1st Stage Radha Krishna Layout     1
BEML Layout 5th stage              1
Abshot Layout                      1
Name: location, Length: 1052, dtype: int64

In [39]:
data['location']=data['location'].apply(lambda x: 'other' if x in location_count_less_10 else x)

In [40]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13257.000000  13303.000000  13303.000000  13303.000000    1.325700e+04
mean    1558.809175      2.689619    112.584033      2.803728    7.912825e+03
std     1238.478935      1.339393    148.993820      1.295022    1.064976e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.271186e+03
50%     1275.000000      2.000000     72.000000      3.000000    5.438596e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.313318e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [41]:
(data['total_sqft']/data['bhk']).describe()

count    13257.000000
mean       574.423690
std        387.598667
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [42]:
data=data[((data['total_sqft']/data['bhk'])>=300)]

In [43]:
data.shape

(12513, 7)

In [44]:
data.price_per_sqft.describe()

count     12513.000000
mean       6307.441644
std        4160.931610
min         267.829813
25%        4210.526316
50%        5295.007564
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [45]:
def remove_outliers_sqft(df):
    df_output = pd.DataFrame()
    
    for key, subdf in df.groupby('location'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)

        # Keep rows within one standard deviation from the mean
        gen_df = subdf[(subdf.price_per_sqft > (m - st)) & 
                       (subdf.price_per_sqft <= (m + st))]
        
        df_output = pd.concat([df_output, gen_df], ignore_index=True)

    return df_output

# Apply function to data
data = remove_outliers_sqft(data)

# View summary statistics
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10286.000000  10286.000000  10286.000000  10286.000000    10286.000000
mean    1507.539685      2.471612     91.250812      2.574859     5659.999439
std      879.997706      0.979677     86.320703      0.898108     2265.627947
min      300.000000      1.000000     10.000000      1.000000     1250.000000
25%     1109.000000      2.000000     49.000000      2.000000     4250.000000
50%     1285.000000      2.000000     67.000000      2.000000     5176.359705
75%     1650.000000      3.000000    100.000000      3.000000     6428.571429
max    30400.000000     16.000000   2200.000000     16.000000    24509.803922

In [46]:
def bhk_outlier_remover(df):
    exclude_indices = np.array([])
    
    for location, location_df in df.groupby('location'):
        bhk_stats = {}
        
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }

        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk - 1)
            if stats and stats['count'] > 5:
                # If current BHK's price_per_sqft is less than mean of lower BHK, it's considered an outlier
                exclude_indices = np.append(
                    exclude_indices, 
                    bhk_df[bhk_df.price_per_sqft < (stats['mean'])].index.values
                )
    
    return df.drop(exclude_indices, axis='index')

In [47]:
data=bhk_outlier_remover(data)

In [48]:
data.shape

(7353, 7)

In [49]:
data.drop(columns=['size','price_per_sqft'],inplace=True)

In [50]:
data.head()

              location  total_sqft  bath  price  bhk
0  1st Block Jayanagar      2850.0   4.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0  235.0    3
3  1st Block Jayanagar      1200.0   2.0  130.0    3
4  1st Block Jayanagar      1235.0   2.0  148.0    2

In [51]:
data.to_csv("cleaned_data.csv")

In [52]:
X=data.drop(columns=['price'])

In [53]:
y=data['price']

In [54]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [56]:
print(X_train.shape)
print(X_test.shape)

(5882, 4)
(1471, 4)

In [57]:

column_trans = make_column_transformer(
    (OneHotEncoder(sparse_output=False), ['location']),
    remainder='passthrough'
)

scaler = StandardScaler()
lr = LinearRegression()

In [58]:
pipe = make_pipeline(column_trans, scaler, lr)

In [59]:

pipe.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [60]:
y_pred_lr = pipe.predict(X_test)

In [61]:
r2_score(y_test, y_pred_lr)

0.8757283195527817

In [62]:
# Initialize Lasso
lasso = Lasso()

In [63]:
# Create pipeline with: OneHotEncoder  StandardScaler  Lasso
pipe = make_pipeline(column_trans, scaler, lasso)

In [64]:
# Train the model
pipe.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [65]:
# Predict
y_pred_lasso = pipe.predict(X_test)

In [66]:

# Evaluate
r2_score(y_test, y_pred_lasso)

0.8703934253207345

In [67]:
ridge = Ridge()

In [68]:
pipeR = make_pipeline(column_trans, scaler, ridge)

In [69]:

pipe.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [70]:
y_pred_ridge = pipe.predict(X_test)
r2_score(y_test, y_pred_ridge)

0.8703934253207345

In [71]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline

rf = RandomForestRegressor(n_estimators=100, random_state=42)
pipe = make_pipeline(column_trans, rf)
pipe.fit(X_train, y_train)
y_pred_rf = pipe.predict(X_test)

from sklearn.metrics import r2_score
print("Random Forest R:", r2_score(y_test, y_pred_rf))

Random Forest R: 0.8121765217920036

In [72]:
from sklearn.ensemble import GradientBoostingRegressor
# Step 1: Initialize Gradient Boosting Regressor
gbr = GradientBoostingRegressor(n_estimators=200, learning_rate=0.1, max_depth=3, random_state=42)

# Step 2: Create pipeline with OneHotEncoding + GBR
pipe = make_pipeline(column_trans, gbr)  # No need for StandardScaler with tree-based models

# Step 3: Fit model
pipe.fit(X_train, y_train)

# Step 4: Predict
y_pred_gbr = pipe.predict(X_test)

# Step 5: Evaluate
print("Gradient Boosting R:", r2_score(y_test, y_pred_gbr))

Gradient Boosting R: 0.8158428313659651

In [73]:
print("No Regularization: ", r2_score(y_test, y_pred_lr))
print("Lasso: ", r2_score(y_test, y_pred_lasso))
print("Ridge: ", r2_score(y_test, y_pred_ridge))
print("Random Forest R:", r2_score(y_test, y_pred_rf))
print("Gradient Boosting R:", r2_score(y_test, y_pred_gbr))

No Regularization:  0.8757283195527817
Lasso:  0.8703934253207345
Ridge:  0.8703934253207345
Random Forest R: 0.8121765217920036
Gradient Boosting R: 0.8158428313659651

In [150]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
import pickle

# Assuming X and y are already defined
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Column transformer for categorical feature
column_trans = make_column_transformer(
    (OneHotEncoder(sparse_output=False, handle_unknown='ignore'), ['location']),
    remainder='passthrough'
)

# ======================= LINEAR REGRESSION =======================
pipe_lr = make_pipeline(column_trans, StandardScaler(), LinearRegression())
pipe_lr.fit(X_train, y_train)
y_pred_lr = pipe_lr.predict(X_test)
print("Linear Regression R:", r2_score(y_test, y_pred_lr))

# ============================ LASSO ==============================
pipe_lasso = make_pipeline(column_trans, StandardScaler(), Lasso())
pipe_lasso.fit(X_train, y_train)
y_pred_lasso = pipe_lasso.predict(X_test)
print("Lasso R:", r2_score(y_test, y_pred_lasso))

# ============================ RIDGE ==============================
pipe_ridge = make_pipeline(column_trans, StandardScaler(), Ridge())
pipe_ridge.fit(X_train, y_train)
y_pred_ridge = pipe_ridge.predict(X_test)
print("Ridge R:", r2_score(y_test, y_pred_ridge))

# ======================== RANDOM FOREST ==========================
pipe_rf = make_pipeline(column_trans, RandomForestRegressor(n_estimators=100, random_state=42))
pipe_rf.fit(X_train, y_train)
y_pred_rf = pipe_rf.predict(X_test)
print("Random Forest R:", r2_score(y_test, y_pred_rf))

# ===================== GRADIENT BOOSTING =========================
pipe_gbr = make_pipeline(
    column_trans,
    GradientBoostingRegressor(n_estimators=200, learning_rate=0.1, max_depth=3, random_state=42)
)
pipe_gbr.fit(X_train, y_train)
y_pred_gbr = pipe_gbr.predict(X_test)
print("Gradient Boosting R:", r2_score(y_test, y_pred_gbr))

# =================== SAVE BEST MODEL =============================
# Let's say Gradient Boosting performed best
pickle.dump(pipe_ridge, open('RidgeModel2.pkl', 'wb'))  # Consider renaming file to 'GBRModel.pkl'

Linear Regression R: 0.8757283195527817
Lasso R: 0.8703934253207345
Ridge R: 0.8757698259298625
Random Forest R: 0.8121765217920036
Gradient Boosting R: 0.8158428313659651